<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
<title>{% block title %}{% endblock title%}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashionpress Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{%  static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="{% static 'css/style.css'%}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->

<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>	
{% block event %}{% endblock event %}
</head>
<body>
<div class="header">
	<div class="header_top">
		<div class="container">
			<div class="logo">
				<a href="{% url 'lily_goods:index'%}"><img src="{% static 'images/logo.png' %}" alt=""/></a>
			</div>
			<ul class="shopping_grid">
			      <a href="{% url 'lily_user:register' %}"><li>注 册</li></a>
			      <a href="{% url 'lily_user:login' %}"><li>登 录</li></a>
			      <a href="/cart/show/"><li><span class="m_1">购 物 车</span>&nbsp;&nbsp;(<em id="show_count">0</em>) &nbsp;<img src="{% static 'images/bag.png' %}" alt=""/></li></a>
			      <div class="clearfix"> </div>
			</ul>
		    <div class="clearfix"> </div>
		</div>
	</div>
	<div class="h_menu4"><!-- start h_menu4 -->
		<div class="container">
				<a class="toggleMenu" href="#">功 能 列 表</a>
				<ul class="nav">
					<li class="active"><a href="{% url 'lily_goods:index'%}" data-hover="Home">首 页</a></li>
					<li><a href="about.html" data-hover="About Us">关 于 我 们</a></li>
					<li><a href="careers.html" data-hover="Careers">加 入 我 们</a></li>
					<li><a href="contact.html" data-hover="Contact Us">联 系 我 们</a></li>
					<li><a href="404.html" data-hover="Company Profile">我 的 地 址</a></li>
					<li><a href="register.html" data-hover="Company Registration">我 的 资 料</a></li>
					<li><a href="wishlist.html" data-hover="Wish List">我 的 订 单</a></li>
				 </ul>
				 <script type="text/javascript" src="{% static 'js/nav.js' %}"></script>
	      </div><!-- end h_menu4 -->
     </div>
</div>
{% block content %}{% endblock content %}
<div class="footer_bg">
</div>
<div class="footer">
  <div class="container">
    <div class="col-md-3 f_grid1">
      <h3>关 于 我 们</h3>
      <a href="#">
      <img src="{% static 'images/logo.png' %}" alt=""/>
			<p>更多详情</p>
      </a>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
    <div class="col-md-3 f_grid1 f_grid2">
      <h3>在 线 咨 询</h3>
      <ul class="social">
        <li><a href=""> <i class="fb"> </i><p class="m_3">QQ客服频道1</p><div class="clearfix"> </div></a></li>
          <li><a href=""><i class="tw"> </i><p class="m_3">QQ客服频道2</p><div class="clearfix"> </div></a></li>
      </ul>
    </div>
    <div class="col-md-6 f_grid3">
      <h3>联 系 我 们</h3>
      <ul class="list">
        <li><p>电 话 : 1.800.254.5487</p></li>
        <li><p>传 真 : 1.800.254.2548</p></li>
        <li><p>邮 件 : <a href="mailto:info(at)fashionpress.com"> info(at)fashionpress.com</a></p></li>
      </ul>
      <ul class="list1">
        <li><p>Aliquam augue a bibendum ipsum diam, semper porttitor libero elit egestas gravida, ut quam, nunc taciti</p></li>
      </ul>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
</body>
</html>
{% block cart_count %}
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>	
<script type="text/javascript">
	$(function(){
		$.get('/cart/count/', function(data){
			// alert(data.res)
			$('#show_count').html(data.res)
		})
	})
</script>
{% endblock cart_count %}   
