{% extends "base.html" %}
{% load staticfiles %}
{% block title %}注 册{% endblock title %}
{% block event %}
<script type="text/javascript">
  $(function(){
      var name_error = true;
      var phone_error = true;
      var email_error = true;
      var pwd_error = true;
      var com_error = true;
      
      $("#username").blur(function(){
        // alert($username.val())
        if($(this).val()==""){
          $(".error_message").html("用户名不能为空")
          return
        }

        $(".error_message").html("")
        $.ajaxSettings.async = false;
        $.get("/user/check_user?username="+$(this).val(), function(data){
           if(data.res == 0){
             alert("该用户名已存在")
             name_error = true;
             return
           }
           else if(data.res == 1){
              alert("你输入的用户名不合法，请重试")
              name_error = true;
              return
           }
           else{
             name_error=false;
           }
        })
        $.ajaxSettings.async = true;
        name_error=false;
      })
      $("#phone_num").blur(function(){
        // alert($username.val())
        if($(this).val()==""){
          $(".error_message").html("手机号不能为空");
          phone_error=true;
        }
        else{
          $(".error_message").html("");
              phone_error=false;
            }
      })
      $("#email").blur(function(){
        // alert($username.val())
        if($(this).val()==""){
          $(".error_message").html("电子邮箱不能为空");
          email_error=true;
        }
        else{
          $(".error_message").html("");
              email_error=false;
            }
      })
      $("#password").blur(function(){
        // alert($username.val())
        if($(this).val()==""){
          $(".error_message").html("密码不能为空");
          pwd_error = true;
        }
        else{
          $(".error_message").html("");
              pwd_error=false;
            }
        })
      $("#confirm").blur(function(){
        // alert($username.val())
        if($(this).val()==""){
          $(".error_message").html("请确认密码");
          com_error=true;
          return
        };
        if($(this).val()!=$("#password").val()){
          $(".error_message").html("两次密码输入不一致");
          com_error=true;
          return
        }
        else{
          $(".error_message").html("")
        }
        com_error=false;
      })

      $("#submit").click(function(){
        var is_activate = $('input[type="checkbox"]').is(":checked");
        var username = $("#username").val();
        var email = $("#email").val()
        if(name_error==false && phone_error==false && email_error==false&& pwd_error==false && com_error==false){

          $.ajaxSettings.async = false;
          if(is_activate){
            
            $.get("/user/email_active?username="+ username+"&email="+ email, function(data){
              if(data.res==0){
                alert("请到您的邮箱中激活您的邮件")
              }
              else{
                alert("您的输入有误....")
              }
            })

          }
          else{
            alert("您的邮件没有选择激活")
          }
          $.ajaxSettings.async = true;
          return true
        }
        else{
          return false
        }
      })
  })

</script>
<style type="text/css">
  .error_message{
    padding-left: 100px;
    padding-top: 50px;
    color: red;
  }
  .fl{
    float: left;
  }
  #submit{
    background: #df1f26;
    width: 100px;
    height: 40px;
    font-size: 0.8em;
    padding: 0.8em 2em;
    border: none;
    outline: none;
    color: #FFF;
  }
</style>
{% endblock event %}
{% block content %}
<div class="column_center">
  <div class="container">
  <div class="search">
    <div class="stay">商 品 搜 索</div>
    <div class="stay_right">
      <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
      <input type="submit" value="">
    </div>
    <div class="clearfix"> </div>
  </div>
    <div class="clearfix"> </div>
  </div>
</div>
<div class="about">
  <div class="container">
      <div class="register">
          <form method="post" action="/user/register_handle/"> 
          {% csrf_token %}
         <div class="register-top-grid">
          <h3>基 本 信 息</h3>
           <div>
            <span>用户名<label>*</label></span>
            <input type="text" name="username" id="username"> 
           </div>
           <div>
            <span>手 机<label>*</label></span>
            <input type="text" name="phone_num" id="phone_num"> 
           </div>
           <div>
             <span>电子邮箱<label>*</label></span>
             <input type="text" name="email" id="email"> 
           </div>
           <div class="error_message">
            {{ error }}
           </div>
           <div class="clearfix"> </div>
             <p class="news-letter">
             <input type="checkbox" class="fl" >
             <span class="fl">是否激活</span>
             </p>
           </div>
             <div class="register-bottom-grid">
                <h3>登 陆 密 码</h3>
               <div>
                <span>密 码<label>*</label></span>
                <input type="password" name="password" id="password">
               </div>
               <div>
                <span>确认密码<label>*</label></span>
                <input type="password" name="confirm" id="confirm">
               </div>
               <div class="clearfix"> </div>
           </div>
        <div> 
        <div class="clearfix"> </div>
        <div class="register-but">
    
             <input type="submit" value="注 册" name="" id="submit">
             <div class="clearfix"> </div>
             
           
        </div>
        </div>
      </form>
       </div>
  </div>
</div>
{% endblock content %}

